.title {
    text-align: center;
}

.board {
    display: flex;
    flex-direction: column;
    max-width: 70vw;
    background-color: #e6e6e6;
    margin: auto;
}

.board .boardMessage {
    display: flex;
    justify-content: center;
    padding-top: 1vh;
}

.cardboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    padding: 1vw;
}

.card {
    padding: 1vw;
}

.boardButton {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.gameButton {
    width: 12vw;
    height: 6vh;
    text-align: center;
    margin-bottom: 1vw;
    background-color: goldenrod;
}

.gameButton p {
    font-size: large;
}