<div class="poster-grid-container shadow">
  <div class="introduction">
    <p class="lead">
        <p>Sync Success</p>
    </p>

    <div class="introduction-buttons">
      <%= link_to "../../admin", class: "btn btn-trestle" do %>
        <i class="fas fa-users"></i>
        Back to admin home
      <% end %>
    </div>
  </div>
</div>
