<!--
	Identity by HTML5 UP
	Modified by Louis Xiang Li
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
<head>
  <title>Login</title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <!--[if lte IE 8]>
  <script src="./app/assets/js/html5shiv.js"></script><![endif]-->
  <%= stylesheet_link_tag 'main', media: 'all',
                          'data-turbolinks-track' => true %>
  <!--[if lte IE 9]>
  <link rel="stylesheet" href="./app/assets/css/ie9.css"/><![endif]-->
  <!--[if lte IE 8]>
  <link rel="stylesheet" href="./app/assets/css/ie8.css"/><![endif]-->
  <noscript>
    <link rel="stylesheet" href="app/assets/stylesheets/noscript.css"/>
  </noscript>
</head>
<body class="is-loading">

<!-- Wrapper -->
<div id="wrapper">

  <!-- Main -->
  <section id="main">
    <header>
      <h1>Sync with OSU success</h1>
    </header>
    <footer>
      <ul class="actions special">
          <li>
            <%= link_to 'Back to Courses list', courses_path %>
          </li>
      </ul>
    </footer>
  </section>

  <!-- Footer -->
  <footer id="footer">
    <ul class="copyright">
      <li>&copy; Future Tech Corp</li>
      <li>Idea: <a href="http://html5up.net">HTML5 UP</a></li>
      <li>Design: <a href="http://plizong.com">Louis Li</a></li>
    </ul>
  </footer>

</div>

<!-- Scripts -->
<!--[if lte IE 8]>
<script src="./app/assets/js/respond.min.js"></script><![endif]-->
<script>
    if ('addEventListener' in window) {
        window.addEventListener('load', function () {
            document.body.className = document.body.className.replace(/\bis-loading\b/, '');
        });
        document.body.className += (navigator.userAgent.match(/(MSIE|rv:11\.0)/) ? ' is-ie' : '');
    }
</script>

</body>
</html>