<div class="poster-grid-container shadow">
  <div class="introduction">
    <p class="lead">
        <strong>学生助教管理系统</strong>
    </p>
    <p>
      杭州电子科技大学 计算机学院
    </p>

    <p> 已经有账号？ </p>
    <div class="introduction-buttons">
      <%= link_to "/admin", class: "btn btn-trestle" do %>
        <i class="fas fa-lock"></i>
        登陆
      <% end %>
    </div>

    <p> 新用户?</p>
    <div class="introduction-buttons">
      <%= link_to "/users/new", class: "btn btn-trestle" do %>
        <i class="fas fa-users"></i>
        注册
      <% end %>
    </div>

    
  </div>

</div>
